@import "~prismjs/plugins/toolbar/prism-toolbar.css";

:root {
  /* --dark-blue: #1e7900;
  --blue: #28b264; */
  --red: rgb(232, 83, 83);
  --light-red: rgb(242, 145, 145);

  --light-grey-blue: rgb(233, 241, 249);

  --ultra-light-blue: rgb(184, 216, 249);
  --light-blue: rgb(153, 204, 255);
  --blue: rgb(68, 160, 255);
  --dark-blue: rgb(15, 76, 229);

  --main-width: 95vw;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.utterances {
  margin-left: 0;
  max-width: 100%;
}

.postImgWrapper {
  width: var(--main-width);
}

.colored-link {
  color: var(--dark-blue);
}
.colored-link:hover {
  color: var(--blue);
}

.amazonLinkHoverBox {
  display: none;
}

.amazonLink {
  font-size: 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#top-navigation {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#to-top-button {
  position: fixed;
  cursor: pointer;
  font-size: 1.2rem;
  font-size: 1.2rem;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  bottom: 10vmin;
  right: 10vmin;
  border: none;
  color: black;
  background-color: var(--light-blue);
  text-align: center;
}

#to-top-button:hover {
  background-color: var(--blue);
}

.add-filter {
  display: flex;
  align-items: center;
}

.add-filter-button {
  background: var(--light-blue);
  border-radius: 1em;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-filter-button > svg {
  margin-left: 0.4rem;
}

.add-filter-container,
.tag-filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.add-filter-button:hover {
  background: var(--blue);
}
.add-filter-button > p,
.search-filter > p {
  padding: 0px;
  margin: 0px;
  margin-left: 0.4rem;
}

.search {
  padding-bottom: 1rem;
}

.search-filter {
  width: fit-content;
  max-width: var(--main-width);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: var(--light-blue);
  border-radius: 1em;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.search-filter > label {
  margin-right: 0.5rem;
}

.search-filter > * {
  font-size: 1rem;
}

.search-filter > button {
  cursor: pointer;
}

.search-filter > p {
  margin-right: 0.3rem;
}

.search-filter > input {
  border: none;
  margin-right: 0.7rem;
  flex: 1 1 auto;
  width: 40%;
}

.search-filter > input:focus {
  border: none;
  outline: solid black;
}

.tag-filter {
  margin-right: 0.2rem;
}

.tag-filter {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  padding: 0.2rem 0.6rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 1em;
}

.tag-filter > button {
  font-size: 0.9rem;
  cursor: pointer;
}

.tag-filter > * {
  margin: 0 5px;
}

.tag-filter > p {
  padding: 0;
}

.remove-filter-button {
  margin-left: 0.5rem;
  font-size: 1rem;
}

h5,
h4,
h3,
h2,
h1 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

h5,
h4,
h3,
h2,
h1 {
  padding-bottom: 1rem;
  padding-top: 1.6rem;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.header {
  height: fit-content;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 20px;
  quotes: "\201C""\201D";
}

blockquote + .quote-author {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
}

blockquote p {
  display: inline;
}

.header-title-with-link {
  cursor: pointer;
  font-size: 2.2rem;
}

.header-title-with-link,
.header-title-without-link {
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
}

.header-title-with-link:hover {
  color: var(--blue);
}

p,
ul,
ol,
blockquote,
button {
  line-height: 1.6;
  /* font-size: 1rem; */
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
}

.allBooks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: var(--main-width);
  margin: auto;
  margin-top: 1.5rem;
}

.book-cover-image {
  width: var(--main-width);
  height: calc(1.6 * var(--main-width));
  position: relative;
}

.avatar-with-author {
  display: flex;
  align-items: center;
}

.header-motto {
  display: none;
}

.round {
  border-radius: 100%;
}

.avatar-container {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.post-meta {
  display: flex;
  align-items: center;
}
.post-meta {
  margin-bottom: 2rem;
}
.post-meta > .publish-date {
  margin-right: 10px;
}
.post-meta > * {
  margin-top: 0;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.main-page {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  line-height: 1.625;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  width: 95vw;
}

html {
  font-size: 18px;
}

.main-text > * {
  max-width: 100%;
  height: auto;
}

.read-more {
  margin-top: 10px;
}

.header h1 {
  max-width: fit-content;
}

.read-more a:hover {
  color: var(--dark-blue);
}

a {
  color: var(--dark-blue);
}

a:hover {
  color: var(--blue);
}

#table-of-contents + ul ul {
  padding-left: 40px;
}

.main-text ul {
  padding-left: 1.2rem;
  list-style: disc outside;
}

.main-text ol {
  padding-left: 1rem;
  list-style: decimal outside;
}

li > p {
  display: inline;
}

li {
  margin-bottom: 10px;
}

.book-info {
  margin-bottom: 1rem;
}

.book-preview-text {
  margin-top: 1rem;
}

.book-info {
  margin-bottom: 1rem;
}

.book-preview-text {
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  .header-motto {
    display: block;
  }

  .search {
    padding-bottom: 3rem;
  }

  .book-cover-image {
    width: calc(var(--main-width) / 4);
    height: calc(1.6 * calc(var(--main-width) / 4));
    position: relative;
  }

  p {
    padding: 0.5rem 0px;
    margin: 0;
  }

  h5,
  h4,
  h3,
  h2,
  h1,
  .post-meta {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0;
  }

  .read-more {
    margin-top: 50px;
  }

  html {
    font-size: 22px;
  }

  .main-text ul {
    padding-left: 1.4rem;
    list-style: disc outside;
  }

  .main-text ol {
    padding-left: 1.8rem;
    list-style: decimal outside;
  }
}

@media only screen and (min-width: 1092px) {
  .main-page {
    padding-top: 2rem;
  }

  .book-cover-image {
    width: calc(var(--main-width) / 3);
    height: calc(1.6 * calc(var(--main-width) / 3));
    position: relative;
  }

  .book-preview-text {
    margin-top: 0;
  }

  .book-preview-text > h1 {
    padding-top: 0;
  }

  .book-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
  }

  .main-page {
    max-width: 936px;
    margin-left: auto;
    margin-right: auto;
  }
  :root {
    --main-width: 936px;
  }
}

@media only screen and (min-width: 2500px) {
  .book-cover-image {
    width: calc(var(--main-width) / 4);
    height: calc(1.6 * calc(var(--main-width) / 4));
    position: relative;
  }

  .main-page {
    max-width: 2000px;
  }

  :root {
    --main-width: 2000px;
  }
}
