:root {
  --green: #5fc436;
  --grey: #1e2228;
  --green-grey: #39493c;
}

.cv-container h3,
.cv-container h2 {
  padding: 0;
}

.cv-black-heading {
  color: var(--green-grey) !important;
}

.cv-job-title {
  display: none;
}

.cv-circular {
  border-radius: 0 0 0 30px;
}

.cv-image {
  width: 200px;
  height: 200px;
}

.cv-section {
  margin-top: 20px;
}

.cv-section a {
  color: var(--green);
}

.cv-section > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cv-section > div > p {
  font-size: 0.9rem;
  font-style: italic;
}

.cv-section p {
  margin: 0px;
}

.cv-section h3 {
  margin: 0px;
}

.cv-container {
  color: var(--grey);
  margin: auto;
  width: 100%;
  max-width: 95vw;
  font-family: Helvetica;
  font-size: 20px;
}

.cv-contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.cv-date {
  margin-top: -1vh;
}

.cv-name-heading {
  margin-top: 3vh;
}

.cv-name-heading h1 {
  font-size: 1.5rem;
}

.cv-job-title {
  margin-top: 5px;
  margin-bottom: 0;
}

.cv-section {
  line-height: 1.6;
}

.cv-divider {
  height: 2px;
  width: 100%;
  background-color: var(--green);
  align-self: center;
}

a {
  text-decoration: none;
  color: var(--grey);
}

.cv-main-section {
  margin-bottom: 10px;
  margin-top: 50px;
}

.cv-container ul {
  margin-left: -20px;
}

.cv-container h1,
.cv-container h2,
.cv-container h3 {
  color: var(--green);
}

.cv-container h1 {
  font-size: 1.7rem;
}

.cv-container h2 {
  font-size: 1.5rem;
}
.cv-container h3 {
  font-size: 1.3rem;
}

.cv-name-heading {
  display: flex;
  flex-direction: column;
}

.cv-contact-info p,
.cv-contact-info a {
  margin: 5px 0;
}

@media only screen and (min-width: 900px) {
  .cv-job-title {
    margin-top: 2vh;
  }

  ul {
    margin-top: 0;
  }

  .cv-name-heading {
    margin-left: 10px;
  }
  .cv-name-heading h1 {
    font-size: 3rem;
  }
  .cv-circular {
    border-radius: 100%;
  }

  .cv-contact-info p,
  .cv-contact-info a {
    margin: 5px;
  }
  .cv-header {
    display: grid;
    grid-template-columns: 30% auto 20%;
    margin: 4vh 0;
  }
  .cv-section {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 10px;
  }
  .cv-container {
    max-width: 800px;
    margin: 5vh auto;
  }
  .cv-job-title {
    display: block;
  }
}
