@tailwind base;
@tailwind components;
@tailwind utilities;

.react-photo-gallery--gallery > div {
  justify-content: center;
}

.yarl__thumbnails_container {
  position: absolute;
  bottom: 0;
}

.joystick-container {
  position: absolute;
  z-index: 20;
}

:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;  
  font-feature-settings: 'liga' 1, 'calt' 1; 
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

nav span, nav p {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;  
}
pre,
code {
  font-family: "Fira Code", monospace;
}


.newsletter-success-ribbon { 
  height: 10px;
  border-radius: 0.375rem ;
  background: repeating-linear-gradient(45deg, #f47171 0 15px, #fff 15px 25px, #5aa6f2 25px 40px, #fff 40px 50px);
}

.glassy {
  backdrop-filter: saturate(180%) blur(15px); 
  background: linear-gradient(to top,rgba(255, 255, 255, 0.5),white 100%);
}

@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate-comeInOut {
    animation: comeInOut 1500ms forwards;
  }

  .animate-spin {
    animation: spin 1000ms linear;
  }
}


pre {
  color: #f5f1d1;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #071126;
}

.hljs-keyword,
.hljs-operator,
.hljs-pattern-match {
  color: #f92672;
}
.hljs-function,
.hljs-pattern-match .hljs-constructor {
  color: #61aeee;
}
.hljs-function .hljs-params {
  color: #a6e22e;
}
.hljs-function .hljs-params .hljs-typing {
  color: #fd971f;
}
.hljs-module-access .hljs-module {
  color: #7e57c2;
}
.hljs-constructor {
  color: #e2b93d;
}
.hljs-constructor .hljs-string {
  color: #9ccc65;
}
.hljs-comment,
.hljs-quote {
  color: #b18eb1;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula {
  color: #c678dd;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}

.hljs {
  scrollbar-color: #999 #333;
}
.hljs::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.hljs::-webkit-scrollbar-thumb {
  background: #999;
}

.hljs::-webkit-scrollbar-track {
  background: #333;
}

