@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    scroll-margin-top: 85px;
  }

  html {
    font: 1em/1.5, cursive;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hgroup,
  ul,
  ol,
  dd,
  p,
  figure,
  pre,
  table,
  fieldset,
  hr, nav {
    margin-bottom: 1.5rem;
  }
}

:root {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, Roboto, "Helvetica Neue", "Arial Nova",
      "Nimbus Sans", Arial, sans-serif;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  scroll-margin-top: 62px;
}

@media (min-width: 768px) {
  a {
    scroll-margin-top: 74px;
  }
}

figure[data-rehype-pretty-code-figure] {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .small-bleed {
    margin-left: calc(-80vw / 2 + 65ch / 2);
    margin-right: calc(-80vw / 2 + 65ch / 2);
  }

  .medium-bleed {
    margin-left: calc(-85vw / 2 + 65ch / 2);
    margin-right: calc(-85vw / 2 + 65ch / 2);
  }

  .large-bleed {
    margin-left: calc(-90vw / 2 + 65ch / 2);
    margin-right: calc(-90vw / 2 + 65ch / 2);
  }
}
@media (min-width: 1300px) {
  .large-bleed {
    margin-left: calc(-80vw / 2 + 65ch / 2);
    margin-right: calc(-80vw / 2 + 65ch / 2);
  }
  .medium-bleed {
    margin-left: calc(-70vw / 2 + 65ch / 2);
    margin-right: calc(-70vw / 2 + 65ch / 2);
  }
  .small-bleed {
    margin-left: calc(-60vw / 2 + 65ch / 2);
    margin-right: calc(-60vw / 2 + 65ch / 2);
  }
}

.rehype-code-title {
  margin: 32px 0 -1px 0 !important;
  width: fit-content;
  background: #e8e8e8;
  color: #000;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  position: relative;
  z-index: 2;
  border: 1px solid rgb(107 114 128);

  border-radius: 4px 4px 0 0;
  border-top: 4px solid #5aa6f2;
  border-bottom: none;
}

.dark .rehype-code-title {
  background: #202224;
  color: #bac2d0;
}

.rehype-code-title + figure {
  margin-top: 0;
}
.rehype-code-title + figure > pre {
  border-top-left-radius: 0;
}

pre[data-theme*=" "],
code[data-theme*=" "] {
  background-color: var(--shiki-light-bg);
}

code[data-theme*=" "] span {
  color: var(--shiki-light);
}

.dark pre[data-theme*=" "],
.dark code[data-theme*=" "] {
  background-color: var(--shiki-dark-bg);
}

.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

code[data-line-numbers] {
  counter-reset: line;
}

pre[data-theme*=" "] code .diff.add {
  background-color: rgba(18, 208, 145, 0.272);
  color: #24292e;
}

pre[data-theme*=" "] code .diff {
  position: relative;
}

pre[data-theme*=" "] code .diff:after {
  position: absolute;
  top: 0;
  right: 10px;
}

pre[data-theme*=" "] code .diff.add:after {
  content: "+";
  color: #00934f;
}

.dark pre[data-theme*=" "] code .diff.add:after {
  content: "+";
  color: #3dd68c;
}

pre[data-theme*=" "] code .diff.remove {
  display: flex;
  background-color: rgba(249, 66, 30, 0.272);
  color: #24292e;
}

pre[data-theme*=" "] code .diff.remove:after {
  content: "-";
  color: #e61d1d;
}

.dark pre[data-theme*=" "] code .diff.remove:after {
  content: "-";
  color: #fb6969;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

pre {
  overflow-x: auto;
  padding: 0.5rem 0.5rem !important;
}

pre [data-line] {
  padding-right: 1rem;
}

.react-photo-gallery--gallery > div {
  justify-content: center;
}

.yarl__thumbnails_container {
  position: absolute;
  bottom: 0;
}

.joystick-container {
  position: absolute;
  z-index: 20;
}

pre,
code {
  font-family: "Fira Code", monospace;
}

.newsletter-success-ribbon {
  height: 10px;
  border-radius: 0.375rem;
  background: repeating-linear-gradient(
    45deg,
    #f47171 0 15px,
    #fff 15px 25px,
    #5aa6f2 25px 40px,
    #fff 40px 50px
  );
}

.glassy {
  backdrop-filter: saturate(180%) blur(15px);
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), white 100%);
}

@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate-comeInOut {
    animation: comeInOut 1500ms forwards;
  }

  .animate-spin {
    animation: spin 1000ms linear;
  }
}
