:root {
  --ultra-light-blue: rgb(184, 216, 249);
  --light-blue: rgb(153, 204, 255);
  --blue: rgb(68, 160, 255);
  --dark-blue: rgb(15, 76, 229);

  --main-width: 95vw;
  --success-green: rgb(31, 214, 85);

  font-size: 16px;
  /* transition: --tw-prose-body cubic-bezier(0.41, 0.1, 0.13, 1) 5s, cubic-bezier(0.41, 0.1, 0.13, 1) 5s --tw-prose-headings,  cubic-bezier(0.41, 0.1, 0.13, 1) 5s --tw-prose-links; */
}

/* body {
  transition: ease 1s background-color;
} */

:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;  
  font-feature-settings: 'liga' 1, 'calt' 1; 
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; }
}

nav span, nav p {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;  
}

.custom-table-overflow {
  overflow-x: scroll;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
  /* overflow-x: clip; */
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.utterances {
  margin-left: 0;
  max-width: 100%;
}



.postImgWrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

.markdown-image {
  width: 100%;
  position: relative;
}

.colored-link {
  color: var(--dark-blue);
}
.colored-link:hover {
  color: var(--blue);
}

.amazonLinkHoverBox {
  display: none;
}

.amazonLink {
  font-size: 1.5rem;
}

/* * {
  border: solid 1px red;
} */

 html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.newsletter-success-container { 
  height: 10px;
  border-radius: 0.375rem ;
  background: repeating-linear-gradient(45deg, #f47171 0 15px, #fff 15px 25px, #5aa6f2 25px 40px, #fff 40px 50px);
}

#top-navigation {
  padding: 0;
}

#to-top-button {
  position: fixed;
  cursor: pointer;
  font-size: 1.2rem;
  font-size: 1.2rem;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  bottom: 2vmin;
  right: 2vmin;
  border: none;
  color: black;
  background-color: var(--light-blue);
  text-align: center;
}

#to-top-button:hover {
  background-color: var(--blue);
}

.add-filter {
  display: flex;
  align-items: center;
}

.add-filter-button {
  border-radius: 1em;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-filter-button > svg {
  margin-left: 0.4rem;
}


.add-filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.add-filter-button:hover {
  background: var(--blue);
}
.add-filter-button > p,
.search-filter > p {
  padding: 0px;
  margin: 0px;
  margin-left: 0.4rem;
}

.search {
  padding-bottom: 1rem;
}

.search-filter {
  width: fit-content;
  max-width: var(--main-width);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.search-filter > label {
  margin-right: 0.5rem;
}

.search-filter > * {
  font-size: 1rem;
}

.search-filter > button {
  cursor: pointer;
}

.search-filter > p {
  margin-right: 0.3rem;
}

.search-filter > input {
  border: none;
  margin-right: 0.7rem;
  flex: 1 1 auto;
  width: 40%;
}

.search-filter > input:focus {
  border: none;
  outline: solid black;
}

.tag-filter {
  margin-right: 0.2rem;
}

.tag-filter {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 1em;
}

.tag-filter > button {
  font-size: 0.9rem;
  cursor: pointer;
}

.tag-filter > * {
  margin: 0 5px;
}

.tag-filter > p {
  padding: 0;
}

.remove-filter-button {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.header {
  height: fit-content;
  margin-bottom: 1rem;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 20px;
  quotes: "\201C\201D";
}

blockquote + .quote-author {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
}

blockquote p {
  display: inline;
}

.header-title-with-link {
  cursor: pointer;
  font-size: 2.2rem;
}

.header-title-with-link,
.header-title-without-link {
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
}

.header-title-with-link:hover {
  color: var(--blue);
}

.slider-annotation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

canvas {
  margin-bottom: 1rem;
}

.slider {
  display: block;
  width: 100%;
  height: 20px;
  margin: auto;
}

.slider-track {
  top: 8px;
  height: 4px;
  background-color: grey;
}

.slider-track.slider-track-0 {
  background-color: grey;
}

.slider-thumb {
  cursor: pointer;
  background: var(--blue);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.slider-thumb:hover {
  box-shadow: 0 0 0 8px var(--ultra-light-blue);
}

pre,
code {
  font-family: "Fira Code", monospace;
}


.SATWithResponseContainer {
  position: relative;
}

.SATWithResponseContainer > button {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.avatar-with-author {
  display: flex;
  align-items: center;
}

.header-motto {
  display: none;
}

.round {
  border-radius: 100%;
}

.avatar-container {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.post-meta {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.post-meta > * {
  margin-top: 0;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.main-page {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  line-height: 1.625;
  width: 100%;
  margin-bottom: 3rem;
}

.book-preview {
  display: flex;
  justify-content: space-between;
}

.book-preview span,
.book-preview {
  margin: 0;
  width: 100%;
}


.book-preview-text {
  width: 95%;
  height: fit-content;
}


.Podcastnote-link-card {
  border-bottom: 2px solid #d4d4d4;
}

footer {
  margin-top: 6rem; 
}


.glassy {
  backdrop-filter: saturate(180%) blur(15px); 
  background: linear-gradient(to top,rgba(255, 255, 255, 0.5),white 100%);
}


:root {
  --main-width: 300px;
}

@media only screen and (min-width: 600px) {
  :root {
    --main-width: 500px;
  }

  #to-top-button {
    right: 8vmin;
    bottom: 4vmin;
  }

  .book-preview-text {
    width: 70%;
    margin-left: 20px;
  }


  .header-motto {
    display: block;
  }

  :root {
    font-size: 21px;
  }
}

canvas {
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
}

@media only screen and (min-width: 1030px) {
  :root {
    --main-width: 780px;
  }

  .main-page {
    position: relative;
    max-width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
  }

} 
