nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 16px;
}
nav.primary-navigation ul {
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  padding: 0;
}

nav.primary-navigation ul li {
  list-style: none;
  border-left: 2px solid #3ca0e7;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  text-align: left;
  display: flex;
  flex-direction: column;
}

nav.primary-navigation li a {
  color: black;
}
nav.primary-navigation li a:hover {
  color: #3ca0e7;
  cursor: pointer;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3ca0e7;
}
ul li ul li a {
  transition: all 0.5s ease;
}
.navlinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-controls {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  nav.primary-navigation ul {
    width: var(--main-width);
  }
  .navbar-controls {
    width: var(--main-width);
  }
}

@media only screen and (min-width: 1030px) {
  .navlink-expander {
    display: none;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav.primary-navigation ul > :nth-last-child(-n + 1) {
    border-right: 2px solid #3ca0e7;
  }

  .navbar-controls {
    justify-content: center;
  }
  nav.primary-navigation ul li {
    display: inline-block;
    padding: 0 30px;
  }
}
