.newsletter-article .postImgWrapper,
.header-image-container {
  /* max-width: 780px; */
  max-width: 780px;
  height: auto;
  /* height: 100%; */
}
.error {
  color: var(--red);
}

.newsletter-button {
  padding: 0.5em 1em;
  width: 100%;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.newsletter-button.active:hover {
  background-color: var(--blue);
}

.newsletter-button.active {
  background-color: var(--dark-blue);
} 

.newsletter-button.inactive {
  cursor: default;
  background-color: var(--light-blue);
}

.newsletter-success {
  color: var(--success-green);
}


.newsletter-input {
  width: 100%;
  border: none;
  padding: 0.5em 0em;

  font-size: 1rem;
  border-bottom: 2px solid black;
  margin-right: 1em;
  margin-bottom: 1em;
}

.newsletter-input:focus {
  outline: none;
}

.page-arrow {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 2em;
  height: 2em;
  z-index: 2;
  bottom: 2vmin;
  color: black;
  background: var(--light-blue);
}

@media only screen and (max-width: 600px) {
  .page-arrow.right {
    left: 40px;
  }

  .page-arrow.left {
    left: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .page-arrow {
    top: 50%;
  }

  .page-arrow:hover {
    color: black;
  }

  .page-arrow:hover {
    background-color: var(--blue);
  }

  .page-arrow.right {
    right: 0px;
  }

  .page-arrow.left {
    left: 0px;
  }
}