.newsletter {
  min-height: fit-content;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.page-arrow {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 50%;
  color: black;
  background: var(--light-blue);
  width: 50px;
  height: 50px;
}

.page-arrow:hover {
  color: black;
}

.page-arrow:hover {
  background-color: var(--blue);
}

.page-arrow.right {
  right: 0px;
}

.page-arrow.left {
  left: 0px;
}

.newsletter-article .postImgWrapper,
.header-image-container {
  max-width: 780px;
}

.newsletter .error {
  color: var(--dark-red);
}

.newsletter * {
  margin: 0;
  padding: 0;
}

.newsletter .form {
  width: 100%;
}

.newsletter h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.newsletter p {
  margin-bottom: 1em;
}

.newsletter button {
  padding: 0.5em 1em;
  width: 100%;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.newsletter button.active:hover {
  background-color: var(--blue);
}

.newsletter button.active {
  background-color: var(--dark-blue);
}

.newsletter-success {
  color: var(--success-green);
}

.newsletter button.inactive {
  cursor: default;
  background-color: var(--light-blue);
}

.newsletter input {
  width: 100%;
  border: none;
  padding: 0.5em 0em;

  font-size: 1rem;
  border-bottom: 2px solid black;
  margin-right: 1em;
  margin-bottom: 1em;
}

.newsletter input:focus {
  /* border: none; */
  outline: none;
}

@media only screen and (min-width: 1092px) {
  .newsletter .form {
    width: 70%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 2fr 1fr;
  }

  .newsletter {
    box-sizing: content-box;
    padding: 50px;
    margin: 5rem 0em;
    box-shadow: 0 0 14px rgb(44 44 44 / 40%);
    margin-left: -50px;
  }
}
