.post-preview {
  display: block;
  margin-bottom: 2rem;
}

.post-preview,
.hero-post-preview {
  cursor: pointer;
}

.post-preview-image {
  position: relative;
  width: 100%;
}

.hero-post-preview > .post-preview-image {
  height: 30vh;
}

.post-preview > .post-preview-image {
  height: 30vh;
}

.card-hover {
  /* display: block; */
  transition: all 0.3s;
  border-radius: 0.5rem;
  overflow: hidden;
}


.post-preview,
.hero-post-preview {
  display: block;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  overflow: hidden;
}



.post-preview:hover,
.card-hover:hover,
.hero-post-preview:hover {
  transform: scale(1.01);
  box-shadow: 0 0 14px rgba(44, 44, 44, 0.4);
}

@media only screen and (min-width: 600px) {
  .hero-post-container {
    margin-bottom: 5rem;
  }

  .hero-post-preview > .post-preview-image {
    height: 50vh;
  }


  .hero-post-preview > .post-preview-text {
    margin: 1rem;
  }
  .post-preview-text {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1092px) {
  .post-preview-text {
    padding: 0;
    padding-right: 0.5rem;
  }

  .other-posts-container {
    margin-bottom: 8rem;
  }

  .post-preview {
    display: grid;
    grid-template-columns: 17rem auto;
    grid-column-gap: 2rem;
  }

  .post-preview > .post-preview-image {
    height: 20rem;
    margin: 0;
  }

  .post-preview-text {
    height: fit-content;
    max-height: 20rem;
    overflow-y: hidden;
  }
}
