@import "~prismjs/plugins/toolbar/prism-toolbar.css";

:root {
  --darkerblue: rgb(32 128 232);
  --steelblue: rgb(63 103 145 / 58%);
  --blue: rgb(68 160 255);
}

footer {
  display: none;
}

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h5,
h4,
h3,
h2,
h1 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.1;
}

.header-title-with-link {
  cursor: pointer;
  font-size: 2.5rem;
}

.header-title-with-link,
.header-title-without-link {
  color: var(--blue);
}

.header-title-with-link:hover {
  color: var(--darkerblue);
}

p,
ul,
ol,
blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.6em;
  font-family: "Libre Baskerville", serif;
}

.avatar-with-author {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 100%;
}

.avatar-container {
  width: 2rem;
  height: 2rem;
  position: relative;
}

.publish-date,
.more-posts-preview h2,
.hero-post-preview h2 {
  margin-bottom: 10px;
}

.post-meta {
  display: flex;
  align-items: center;
}
.post-meta {
  margin-bottom: 1rem;
}
.post-meta > .publish-date {
  margin-right: 10px;
}
.post-meta > * {
  margin-top: 0;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.hero-post-preview {
  margin-bottom: 2rem;
}

.more-posts-preview {
  margin-bottom: 2rem;
}

.hero-post-image,
.more-posts-image {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.main-page {
  margin-top: 1rem;
  height: auto;
  line-height: 1.625;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

body {
  font-size: 18px;
}

.markdown > * {
  max-width: 100%;
  height: auto;
}

.read-more {
  margin-top: 10px;
}

.header h1 {
  margin-bottom: 0.5rem;
  max-width: fit-content;
}

.read-more a:hover {
  color: var(--blue);
}

.markdown ul,
.markdown ol {
  padding-left: 4%;
  list-style: disc outside;
}

.more-posts-preview,
.hero-post-preview {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .more-stories-container {
    margin-bottom: 8rem;
  }
  .more-posts-preview {
    display: grid;
    grid-template-columns: 18.5rem auto;
    grid-column-gap: 2rem;
  }

  .more-posts-preview-text {
    height: 18.5rem;
    overflow-y: hidden;
  }

  .more-posts-preview-text *:first-child {
    margin-top: 0px;
  }
  .more-posts-preview-text *:last-child {
    margin-bottom: 0px;
  }
  .more-posts-image {
    height: 18.5rem;
    margin: 0;
  }

  .more-posts-preview h2 {
    margin-top: 1.5rem;
  }

  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .hero-post-preview {
    margin-bottom: 7rem;
  }

  .hero-post-preview,
  .post-body {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero-post-image {
    height: 50vh;
  }

  .read-more {
    margin-top: 50px;
  }

  body {
    font-size: 22px;
  }

  .more-posts-preview:hover,
  .hero-post-preview:hover {
    transform: scale(1.01);
    box-shadow: 0 0 14px rgba(44, 44, 44, 0.4);
  }

  .post-body,
  .header,
  .more-stories-title {
    padding-right: 30px;
    padding-left: 30px;
  }

  .more-posts-preview,
  .hero-post-preview {
    padding: 30px;
    border-radius: 5px;
    transition: all 0.3s;
  }
}

@media only screen and (min-width: 1092px) {
  .main-page {
    max-width: 936px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 2500px) {
  .more-stories-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .main-page {
    max-width: 2000px;
  }
}

.markdown pre {
  background-color: #eff0f1;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  font-size: 14px;
  margin-bottom: 4.1rem;
  padding: 3.7rem 0 1.6rem 0.4rem;
  border-radius: 12px;
  overflow: hidden;
  background-image: url("../public/assets/blog/mac-buttons.png");
  background-repeat: no-repeat;
  background-size: 44px 10px;
  background-position: 16px 14px;
}

.toolbar-item {
  margin-right: 10px;
}

.copy-to-clipboard-button {
  background-color: #d4d4d4 !important;
  color: #555454;
}

.copy-to-clipboard-button > span {
  font-size: 18px;
  padding: 5px;
  content: "📋︁";
}

pre[class*="language-"],
code[class*="language-"] {
  color: #9cdcfe;
  font-size: 20px;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  padding: 2em;
  padding-top: 40px;
  margin: 0.5em 0;
  overflow: auto;
  background-color: #1e1e1e;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a9955;
}

.token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #d4d4d4;
  background: #1e1e1e;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #569cd6;
}

.token.function {
  color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
  color: #d16969;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.constant {
  color: #9cdcfe;
}

.token.class-name,
.token.builtin {
  color: #4ec9b0;
}

.token.parameter {
  color: #9cdcfe;
}

.token.interpolation {
  color: #9cdcfe;
}

.token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

.token.boolean {
  color: #569cd6;
}

.token.property {
  color: #9cdcfe;
}

.token.selector {
  color: #d7ba7d;
}

.token.tag {
  color: #569cd6;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.attr-value {
  color: #ce9178;
}

.token.entity {
  color: #4ec9b0;
  cursor: unset;
}

.token.namespace {
  color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/
pre[class*="language-javascript"],
code[class*="language-javascript"] {
  color: #4ec9b0;
}

pre[class*="language-css"],
code[class*="language-css"] {
  color: #ce9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
  color: #d4d4d4;
}

.language-html .token.punctuation {
  color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
