@import "~prismjs/plugins/toolbar/prism-toolbar.css";

:root {
  /* --dark-blue: #1e7900;
  --blue: #28b264; */
  --red: rgb(232, 83, 83);
  --light-red: rgb(242, 145, 145);

  --dark-blue: rgb(15, 76, 229);
  --blue: rgb(68, 160, 255);
  --light-blue: rgb(153, 204, 255);
  --main-width: 95vw;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.utterances {
  margin-left: 0;
  max-width: 100%;
}

.postImgWrapper {
  width: var(--main-width);
}

.colored-link {
  color: var(--dark-blue);
}
.colored-link:hover {
  color: var(--blue);
}

.amazonLinkHoverBox {
  display: none;
}

.amazonLink {
  font-size: 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

#top-navigation {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#to-top-button {
  position: fixed;
  font-size: 1.2rem;
  font-size: 1.2rem;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  bottom: 10vmin;
  right: 10vmin;
  border: none;
  color: black;
  background-color: var(--light-blue);
  text-align: center;
}

#to-top-button:hover {
  background-color: var(--blue);
}

.search-filter {
  display: flex;
  align-items: center;
}

.search-filter > label {
  margin-right: 0.5rem;
}

.tag-filter {
  display: flex;
  align-items: center;
  background: var(--light-blue);
  padding: 5px 10px;
  border-radius: 1em;
}

.tag-filter > p {
  padding: 0;
}

.remove-filter-button {
  margin: 0px 0.5rem;
  font-size: 1rem;
}

h5,
h4,
h3,
h2,
h1 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

h5,
h4,
h3,
h2,
h1 {
  padding-bottom: 1rem;
  padding-top: 1.6rem;
  margin: 0;
}

h1 {
  line-height: 1.1;
}

h2 {
  line-height: 1.1;
}

h3 {
  line-height: 1.1;
}
.header {
  height: fit-content;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px 0px 0px;
  padding: 0.5em 20px;
  quotes: "\201C""\201D";
}

blockquote + p {
  padding-top: 5px;
  padding-left: 0px;
}

/* blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */

blockquote p {
  display: inline;
}

.header-title-with-link {
  cursor: pointer;
  font-size: 2.2rem;
}

.header-title-with-link,
.header-title-without-link {
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
}

.header-title-with-link:hover {
  color: var(--blue);
}

p,
ul,
ol,
blockquote {
  line-height: 1.6;
  font-family: "Libre Baskerville", serif;
}

.more-stories-title {
  margin-left: 30px;
}

.allBooks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: var(--main-width);
  margin: auto;
}

.book-cover-image {
  width: var(--main-width);
  height: calc(1.6 * var(--main-width));
  position: relative;
}

.avatar-with-author {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 100%;
}

.avatar-container {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.publish-date,
.more-posts-preview h2,
.hero-post-preview h2 {
  margin-bottom: 10px;
}

.post-meta {
  display: flex;
  align-items: center;
}
.post-meta {
  margin-bottom: 2rem;
}
.post-meta > .publish-date {
  margin-right: 10px;
}
.post-meta > * {
  margin-top: 0;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.more-posts-preview-text,
.more-posts-preview-text,
.hero-post-preview {
  color: black;
}
.more-posts-preview-text:hover,
.hero-post-preview:hover {
  color: black;
}

.header-motto {
  display: none;
}

.hero-post-image,
.more-posts-image {
  position: relative;
  width: 100%;
}

.hero-post-image {
  height: 50vh;
}

.more-posts-image {
  height: 30vh;
}

.main-page {
  height: auto;
  line-height: 1.625;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  width: 95vw;
}

html {
  font-size: 18px;
}

.markdown > * {
  max-width: 100%;
  height: auto;
}

.read-more {
  margin-top: 10px;
}

.header h1 {
  max-width: fit-content;
}

.read-more a:hover {
  color: var(--dark-blue);
}

a {
  color: var(--dark-blue);
}

a:hover {
  color: var(--blue);
}

#table-of-contents + ul ul {
  padding-left: 40px;
}

.markdown ul {
  padding-left: 1.2rem;
  list-style: disc outside;
}

.markdown ol {
  padding-left: 1rem;
  list-style: decimal outside;
}

li > p {
  display: inline;
}

li {
  margin-bottom: 10px;
}

.more-posts-preview,
.hero-post-preview {
  cursor: pointer;
}

.book-info {
  margin-bottom: 1rem;
}

.book-preview-text {
  margin-top: 1rem;
}

.book-info {
  margin-bottom: 1rem;
}

.book-preview-text {
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  .header-motto {
    display: block;
  }

  .book-cover-image {
    width: calc(var(--main-width) / 4);
    height: calc(1.6 * calc(var(--main-width) / 4));
    position: relative;
  }

  p {
    padding: 0.5rem 0px;
    margin: 0;
  }

  h5,
  h4,
  h3,
  h2,
  h1,
  .post-meta {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0;
  }

  .hero-post-preview {
    margin-bottom: 7rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero-post-image {
    height: 50vh;
  }

  .read-more {
    margin-top: 50px;
  }

  html {
    font-size: 22px;
  }

  .markdown ul {
    padding-left: 1.4rem;
    list-style: disc outside;
  }

  .markdown ol {
    padding-left: 1.8rem;
    list-style: decimal outside;
  }

  .more-posts-preview:hover,
  .hero-post-preview:hover {
    transform: scale(1.01);
    box-shadow: 0 0 14px rgba(44, 44, 44, 0.4);
  }

  .more-posts-preview,
  .hero-post-preview {
    padding: 30px;
    border-radius: 5px;
    transition: all 0.3s;
  }

  .more-posts-preview-text *:first-child {
    margin-top: 0px;
  }
  .more-posts-preview-text *:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1092px) {
  .book-cover-image {
    width: calc(var(--main-width) / 3);
    height: calc(1.6 * calc(var(--main-width) / 3));
    position: relative;
  }

  .book-preview-text {
    margin-top: 0;
  }

  .book-preview-text > h1 {
    padding-top: 0;
  }

  .book-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
  }

  .more-stories-container {
    margin-bottom: 8rem;
  }
  .more-posts-preview {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-column-gap: 2rem;
  }

  .more-posts-preview-text {
    height: 20rem;
    overflow-y: hidden;
  }

  .more-posts-image {
    height: 20rem;
    margin: 0;
  }

  .main-page {
    padding-top: 2rem;
    max-width: 936px;
    margin-left: auto;
    margin-right: auto;
  }
  :root {
    --main-width: 936px;
  }
}

@media only screen and (min-width: 2500px) {
  .more-stories-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .book-cover-image {
    width: calc(var(--main-width) / 4);
    height: calc(1.6 * calc(var(--main-width) / 4));
    position: relative;
  }

  .main-page {
    max-width: 2000px;
  }

  :root {
    --main-width: 2000px;
  }
}
