@import "~prismjs/plugins/toolbar/prism-toolbar.css";

:root {
  /* --darkerblue: #1e7900;
  --blue: #28b264; */

  --darkerblue: #0f4ce5;
  --blue: #44a0ff;
  --main-width: 95vw;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.postImgWrapper {
  width: var(--main-width);
}

.colored-link {
  color: var(--darkerblue)
}
.colored-link:hover {
  color: var(--blue)
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h5,
h4,
h3,
h2,
h1 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.1;
}
.header  {
  height: fit-content;
}
.header-title-with-link {
  cursor: pointer;
  font-size: 2.5rem;
}

.header-title-with-link,
.header-title-without-link {
  color: var(--darkerblue);
}

.header-title-with-link:hover {
  color: var(--blue);
}

p,
ul,
ol,
blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.6em;
  font-family: "Libre Baskerville", serif;
}

.navbar {
  background: #f4f4f4;
  padding: 20px 0px;
}

.navbar-content {
  width: var(--main-width);
  margin: auto;
}

.navbar h1 {
  margin: 0;
}

.more-stories-title {
  margin-left: 30px;
}

.allBooks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: var(--main-width);
  margin: auto;
}

.book-cover-image {
  width: var(--main-width);
  height: calc(1.6 * var(--main-width));
  position: relative;
}

.avatar-with-author {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 100%;
}

.avatar-container {
  width: 2rem;
  height: 2rem;
  position: relative;
}

.publish-date,
.more-posts-preview h2,
.hero-post-preview h2 {
  margin-bottom: 10px;
}

.post-meta {
  display: flex;
  align-items: center;
}
.post-meta {
  margin-bottom: 1rem;
}
.post-meta > .publish-date {
  margin-right: 10px;
}
.post-meta > * {
  margin-top: 0;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.hero-post-preview {
  margin-bottom: 2rem;
}

.header-motto {
  display: none;
}

.hero-post-preview {
  margin-top: 1rem;
}

.more-posts-preview {
  margin-bottom: 2rem;
}

.hero-post-image,
.more-posts-image {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.hero-post-image {
  height: 50vh;
}

.more-posts-image {
  height: 30vh;
}

.main-page {
  margin-top: 1rem;
  height: auto;
  line-height: 1.625;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  width: 95vw;
}

body {
  font-size: 18px;
}

.markdown > * {
  max-width: 100%;
  height: auto;
}

.read-more {
  margin-top: 10px;
}

.header h1 {
  max-width: fit-content;
}

.read-more a:hover {
  color: var(--darkerblue);
}

.markdown a {
  color: var(--darkerblue);
}

.markdown a:hover {
  color: var(--blue);
}

.markdown ul {
  padding-left: 4%;
  list-style: disc outside;
}

.markdown ol {
  padding-left: 4%;
  list-style: decimal outside;
}

.more-posts-preview,
.hero-post-preview {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .header-motto {
    display: block;
  }

  .book-cover-image {
    width: calc(var(--main-width) / 4);
    height: calc(1.6 * calc(var(--main-width) / 4));
    position: relative;
  }

  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .hero-post-preview {
    margin-bottom: 7rem;
  }

  .hero-post-preview,
  .post-body {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero-post-image {
    height: 50vh;
  }

  .read-more {
    margin-top: 50px;
  }

  body {
    font-size: 22px;
  }

  .more-posts-preview:hover,
  .hero-post-preview:hover {
    transform: scale(1.01);
    box-shadow: 0 0 14px rgba(44, 44, 44, 0.4);
  }

  .more-posts-preview,
  .hero-post-preview {
    padding: 30px;
    border-radius: 5px;
    transition: all 0.3s;
  }

  .more-posts-preview-text *:first-child {
    margin-top: 0px;
  }
  .more-posts-preview-text *:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1092px) {
  .book-cover-image {
    width: calc(var(--main-width) / 3);
    height: calc(1.6 * calc(var(--main-width) / 3));
    position: relative;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
  }

  .navlinks {
    min-width: fit-content;
    display: flex;
    align-items: center;
  }
  .navlinks * {
    margin-left: 40px;
  }

  .navlinks a {
    font-weight: 100;
    font-family: "Spartan", sans-serif;
    font-size: 1.5rem;
  }
  .navlinks a:hover {
    color: var(--blue);
  }

  .more-stories-container {
    margin-bottom: 8rem;
  }
  .more-posts-preview {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-column-gap: 2rem;
  }

  .more-posts-preview-text {
    height: 20rem;
    overflow-y: hidden;
  }

  .more-posts-image {
    height: 20rem;
    margin: 0;
  }

  .main-page {
    max-width: 936px;
    margin-left: auto;
    margin-right: auto;
  }
  :root {
    --main-width: 936px;
  }

}

@media only screen and (min-width: 2500px) {
  .more-stories-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .book-cover-image {
    width: calc(var(--main-width) / 4);
    height: calc(1.6 * calc(var(--main-width) / 4));
    position: relative;
  }

  .main-page {
    max-width: 2000px;
  }

  :root {
    --main-width: 2000px;
  }
}
